<div id="fly_ux_panel">
    <h2>{{ headline }}</h2>
    <p class="subline">{{ subline }}</p>
    <ul>
    {% for element in elements %}
    <li>
        <a href="{{ element.href }}"
           title="{{ element.title }}"
           class="tl_paste_button">
            {{ element.name }}
        </a>
    </li>
{% endfor %}
</ul>
</div>
