{% for file in files %}
  <div class="media-tile">
    <a href="?do=files&act=edit&id={{ file.path }}&rt={{ token }}" title="Klicken zum Bearbeiten"><img src="{{ file.preview_path }}" alt="{{ file.name }}"></a>
    <div class="media-info">
    
<a href="/contao/popup?src={{ file.info_src }}" 
class="show" onclick="Backend.openModalIframe({'title':'{{ file.name }}',
'url':this.href});return false"><img src="/system/themes/flexible/icons/show.svg" 
width="16" height="16" 
alt="Details der Datei anzeigen" data-contao--tooltips-target="tooltip"></a>
    
    </div>
  </div>
{% endfor %}


