<form method="post">
    {{ form_start(form) }}
  <table>
    {% for field in form %}
         {% set i = loop.index0 %}
         
        {% if attribute(items, i) is defined %}
        <tr class="cart-row">
           
 
                    {% for property in items.(i).html5 %}
                    {% set p = loop.index0 %}
                    {% set currentAttribut = items.(i).attributes|keys[p] %}
                    
                        {% if currentAttribut == 'alias' %}
                            <td class="product-count">
                                {{ form_widget(field) }}
                           

                            {% if field.vars.errors is not empty %}
                                <div class="form-errors">
                                    {{ field.vars.errors }}
                                </div>
                            {% endif %}
                            </td>
                        {% else %}
                        <td class="product-{{ currentAttribut }}">
                            {{ property|raw }}
                            {% if currentAttribut == 'price' %}
                                €
                            {% endif %}
                        </td>
                        {% endif %}
                     {% endfor %}
                
          
            
               <td class="product-remove">
                    {% set product_id = items.(i).raw.id %}
                    <a href='{{ url }}?remove={{ product_id }}' title='Produkt aus den Warenkorb entfernen'>Entfernen</a>
                 </td>       
                
        </tr>
        {% else %}
        {% if field.vars.name == 'aktualisieren' %}

        <tr class="cart-subtotal">
            <td colspan="4">
                   Zwischensumme:
            </td>
             <td colspan="2">
             {{ summary.subtotal}} €
          
            </td>
        </tr>
        {% for id,tax in summary.taxsubtotal %}
            <tr class="cart-tax">
            <td colspan="4">
             {% for k,taxType in summary.tax %}
                {% if taxType.id == id %}
                   {{ taxType.name }}
                {% endif %}
            {% endfor %}
            </td>
            <td colspan="2">
                   {{ tax }} €
                </td>
            </tr>
        {% endfor %}
        <tr class="cart-total">
            <td colspan="4">
                   Summe:
            </td>
             <td colspan="2">
             {{ summary.total}} €
         
            </td>        </tr>
        {% endif %}
        <tr class="form-submit">
        <td colspan="4" class="form-input">
                {{ form_widget(field) }}
            </td>
        {% if field.vars.name == 'aktualisieren' %}
        <td  colspan="2" class="checkout-link">
           <a href="{{ checkout_url}}" title="Zur Kasse" >Zur Kasse</td>
        </td>
         {% endif %}
        </tr>
        {% endif %}
    {% endfor %}
    </table>

    {{ form_end(form) }}
</form>
