<h2>{{ headline }}</h2>

{% if formular is not iterable %}

{% else %}
{% if formular is not iterable %}

{% else %}
<section>
    <h3>Persönliche Daten</h3>
    <ul>
        <li><strong>Anrede:</strong> {{ order.personal_data.salutation|capitalize }}</li>
        <li><strong>Vorname:</strong> {{ order.personal_data.surname }}</li>
        <li><strong>Nachname:</strong> {{ order.personal_data.lastname }}</li>
        <li><strong>E-Mail:</strong> {{ order.personal_data.email }}</li>
        <li><strong>Adresse:</strong> 
            {{ order.personal_data.street }} {{ order.personal_data.street_number }}, 
            {{ order.personal_data.city }}, {{ order.personal_data.state }}, {{ order.personal_data.country }}
        </li>
    </ul>
</section>

{% if order.personal_data.use_for_shipment %}

    <section>
        <h3>Lieferadresse</h3>
        <ul>
            <li><strong>Straße:</strong> {{ order.personal_data.shipment_street }} {{ order.personal_data.shipment_street_number }}</li>
            <li><strong>Stadt:</strong> {{ order.personal_data.shipment_city }}</li>
            <li><strong>Bundesland:</strong> {{ order.personal_data.shipment_state }}</li>
            <li><strong>Land:</strong> {{ order.personal_data.shipment_country }}</li>
        </ul>
    </section>
{% endif %}

<section>
    <h3>Versandart</h3>
    <p>Versand-ID: {{ order.shipment.shipment }}</p>
</section>

<section>
    <h3>Zahlungsart</h3>
    <p>Zahlungs-ID: {{ order.payment.payment }}</p>
</section>
 {% endif %}
{% set formHtml = form(formular) %}
  {{ formHtml|raw }}
  {{ form_errors(formular) }}
  {% endif %}