{% macro render_navigation(items, currentPageId, level) %}
  <ul class="nav-menu level-{{ level }}" role="menubar">
    {% for item in items %}
      {% set page = item.page ?? {} %}
    
        {% set hasChildren = item.children is defined and item.children|length > 0 %}
        <li role="none" class="nav-item {{ page.cssClass|default('') }}">
          {% if page.url is defined %}
            {% if page.cssClass matches '/active/' %}
                <strong
                  class="nav-link"
                  role="menuitem"
                  {% if currentPageId is defined and currentPageId == page.id %}aria-current="page"{% endif %}
                  {% if hasChildren %}aria-haspopup="true" aria-expanded="false"{% endif %}
                  tabindex="0"
                >
                  {{ page.title|default(page.name) }}
                </strong>
            {% else %}
                <a
                  href="{{ page.url }}"
                  class="nav-link"
                  role="menuitem"
                  {% if currentPageId is defined and currentPageId == page.id %}aria-current="page"{% endif %}
                  {% if hasChildren %}aria-haspopup="true" aria-expanded="false"{% endif %}
                  tabindex="0"
                  title="{{ page.title|default(page.name)|e }}"
                >
                  {{ page.title|default(page.name) }}
                </a>
            {% endif %}
                
            {% if hasChildren %}
                <span class="submenu-toggler-{{level}}" data-toggle="submenu-{{level}}">+</span>
            {% endif %}
            
            
          {% else %}
            <span class="nav-link">{{ page.title|default(page.name) }}</span>
          {% endif %}

          {% if hasChildren %}
            <div class="dropdown-{{level}}">
              {{ _self.render_navigation(item.children, currentPageId, level + 1) }}
            </div>
          {% endif %}
        </li>
  
    {% endfor %}
  </ul>
{% endmacro %}
{% if css_id_str == 'mobile' %}
    <button id="menu-toggler" aria-controls="main-menu" aria-expanded="false">Menü</button>
{% endif %}
<nav id="main-{{ css_id_str }}-nav" aria-label="{{ aria_label }}">
   <div id="main-{{ css_id_str }}-menu" class="menu-container">
    {{ _self.render_navigation(navigationItems, currentPageId, 1) }}
  </div>
</nav>
