<h2>{{ headline }}</h2>

{% if formular is not iterable %}
    {{ order|raw }}
{% else %}
<section>
    <h3>Persönliche Daten</h3>
    <ul>
        <li><strong>Anrede:</strong> {{ order.personal_data.salutation|capitalize }}</li>
        <li><strong>Vorname:</strong> {{ order.personal_data.surname }}</li>
        <li><strong>Nachname:</strong> {{ order.personal_data.lastname }}</li>
        <li><strong>E-Mail:</strong> {{ order.personal_data.email }}</li>
        <li><strong>Adresse:</strong> 
            {{ order.personal_data.street }} {{ order.personal_data.street_number }}, 
            {{ order.personal_data.plz }}, {{ order.personal_data.city }}, 
            {{ order.personal_data.state }}, 
            {{ order.personal_data.country }}
        </li>
    </ul>
    <a href="{{ order.edit.personal_data }}" title="bearbeiten">bearbeiten</a>
</section>

{% if order.personal_data.use_for_shipment is not true %}

    <section>
        <h3>Lieferadresse</h3>
        <ul>
            
            <li><strong>Straße:</strong>
            {% if 'shipment_street' in order.personal_data %}
                {{ order.personal_data.shipment_street }} 
            {% endif %}
             {% if 'shipment_street_number' in order.personal_data %}
                {{ order.personal_data.shipment_street_number }}
             {% endif %}</li>
            <li><strong>Stadt:</strong> 
            {% if 'shipment_plz' in order.personal_data %}
                {{ order.personal_data.shipment_plz }}
             {% endif %}
             {% if 'shipment_city' in order.personal_data %}
                {{ order.personal_data.shipment_city }}
            {% endif %}
            </li>
            <li><strong>Bundesland:</strong> 
            {% if 'shipment_state' in order.personal_data %}
                {{ order.personal_data.shipment_state }}
            {% endif %}
            </li>
            <li><strong>Land:</strong> 
            {% if 'shipment_country' in order.personal_data %}
                {{ order.personal_data.shipment_country }}
             {% endif %}
            </li>
        </ul>
        <a href="{{ order.edit.personal_data }}" title="bearbeiten">bearbeiten</a>
    </section>
    
{% endif %}

<section>
    <h3>Versandart</h3>
    <p>{{ order.shipment }}</p>
    <a href="{{ order.edit.shipment }}" title="bearbeiten">bearbeiten</a>
</section>

<section>
    <h3>Zahlungsart</h3>
    <p>{{ order.payment }}</p>
    <a href="{{ order.edit.payment }}" title="bearbeiten">bearbeiten</a>
</section>

<section>
    <h3>Produkte</h3>
    {{ cart|raw }}
</section>

{% set formHtml = form(formular) %}
  {{ formHtml|raw }}
  {{ form_errors(formular) }}
  {% endif %}