<div class="cart">
  
  <table>
    {% for cart_item in items %}
         {% set i = loop.index0 %}
         
        <tr class="cart-row">
           
 
                    {% for property in cart_item.html5 %}
                    {% set p = loop.index0 %}
                    {% set currentAttribut = cart_item.attributes|keys[p] %}
                    
                        {% if currentAttribut == 'alias' %}
                            <td class="product-count">
                            {% set product_id = cart_item.raw.id %}
                              {{ cart_count.(product_id).(product_id~'_count') }}
                            </td>
                        {% else %}
                        <td class="product-{{ currentAttribut }}">
                            {{ property|raw }}
                            {% if currentAttribut == 'price' %}
                                €
                            {% endif %}
                        </td>
                        {% endif %}
                     {% endfor %}      
                
        </tr>
        {% endfor %}
        <tr class="cart-shipment">
            <td colspan="4">
                   Versand: {{ summary.shipment.name }}
            </td>
             <td colspan="2">
             {{ summary.shipment.costs }} €
          
            </td>
        </tr>
        <tr class="cart-spayment">
            <td colspan="4">
                   Zahlung: {{ summary.payment.name }}
            </td>
             <td colspan="2">
             {{ summary.payment.costs }} €
          
            </td>
        </tr>
        <tr class="cart-subtotal">
            <td colspan="4">
                   Zwischensumme:
            </td>
             <td colspan="2">
             {{ summary.subtotal}} €
          
            </td>
        </tr>
        {% for id,tax in summary.taxsubtotal %}
            <tr class="cart-tax">
            <td colspan="4">
             {% for k,taxType in summary.tax %}
                {% if taxType.id == id %}
                   {{ taxType.name }}
                {% endif %}
            {% endfor %}
            </td>
            <td colspan="2">
                   {{ tax }} €
                </td>
            </tr>
        {% endfor %}
        <tr class="cart-total">
            <td colspan="4">
                   Summe:
            </td>
             <td colspan="2">
             {{ summary.total}} €
         
            </td>        
        </tr>

       
    
    </table>

   
</div>
