{% macro renderSlides(elementsByColumn,plusClass) %}
    {% for column,elements in elementsByColumn %}
            <div class="{{ column }} {{ plusClass }}">
                {% if elements is defined %}
                    {% for element in elements %}
                        {{ element|raw }}
                    {% endfor %}
                {% endif %}
                
            </div>
      
    {% endfor %}
{% endmacro %}
{% import _self as layout %}

<div id="{{ cssId }}" class="{{ cssClass }}" >

{% if headline != '' %}
    <{{ headlineTag }}>{{ headline }}</{{ headlineTag }}>
    {% endif %}
<div class="content-slider" data-config="{{ settings.delay }},{{ settings.speed }},{{ settings.startSlide }},{{ settings.continuous }}">
    <div class="slider-wrapper">
        {{ layout.renderSlides(elementsByColumn,plusClass) }}

      </div>
  </div>

  <nav class="slider-control" aria-label="Slider">
    <a href="#" class="slider-prev"> {{ previous }}</a>
    <span class="slider-menu"></span>
    <a href="#" class="slider-next">{{ next }}</a>
  </nav>
</div>